{{# if(d.config.vispa_style){ }}
<style>
  body{background-color: {{ d.config.body_color }}}
  .vispa-layer-error .layui-layer-title{background-color: {{ d.config.error_color[0] }};color: {{ d.config.error_color[1] }};}
  nav, nav .layui-nav {background-color: {{ d.config.nav_color[0] }};}
  nav .layui-nav .layui-nav-item > a{color: {{ d.config.nav_color[3] }}}
  nav .vispa-nav .layui-this > a, nav .vispa-nav .layui-nav-item .vispa-nav-phone, nav .lay-nav-logo a{color: {{ d.config.nav_color[1] }}}
  nav .layui-nav .layui-this:after, nav .layui-nav .layui-nav-bar{background-color: {{ d.config.nav_color[2] }};}
</style>
{{# } }}
<!-- 头部导航 -->
<nav>
  <div class="layui-container">
    <div class="lay-nav-logo">
    <a href="{{ layui.view.url(d.nav[0].name) }}">{{ d.config.text_logo }}</a>
    </div>
    <ul class="layui-nav vispa-nav" lay-filter="vispa-nav">
      <!-- 大屏幕 -->
      {{# layui.each(d.nav,function(i,item){ }}
        {{# if(!item.list){ }}
          <li class="layui-nav-item layui-hide-xs {{ item.url ? 'layui-unselect' : 'vispa-nav-item' }}">
            <a target="{{ item.url ? '_blank' : '' }}" href="{{ item.url ? item.url : layui.view.url(item.name) }}">{{ item.title }}</a>
          </li>
        {{# } else { }}
          <li class="layui-nav-item layui-hide-xs">
            <a href="javascript:;">{{ item.title }}</a>
            <dl class="layui-nav-child">
              {{# layui.each(item.list,function(i,item){ }}
                <dd class="layui-unselect {{ item.url ? '' : 'vispa-nav-child' }}"><a target="{{ item.url ? '_blank' : '' }}" href="{{ item.url ? item.url : layui.view.url(item.name) }}">{{ item.title }}</a></dd>
              {{# }); }}
            </dl>
          </li>
        {{# } }}
      {{# }); }}

      <!-- 小屏幕 -->
      <li class="layui-nav-item layui-hide-sm layui-show-xs">
        <a class="vispa-nav-phone" href="javascript:;"><i class="vispa-icon vispa-icon-yingyong"></i></a>
        <dl class="layui-nav-child">
          {{# layui.each(d.nav,function(i,item){ }}
            {{# if(!item.list){ }}
              <dd class="layui-unselect"><a href="{{ item.url ? item.url : layui.view.url(item.name) }}">{{ item.title }}</a></dd>
            {{# } }}
          {{# }); }}
          {{# layui.each(d.nav,function(i,item){ }}
            {{# if(item.list){ }}
              <hr>
              {{# layui.each(item.list,function(i,item){ }}
              <dd class="layui-unselect {{ item.url ? '' : 'vispa-nav-child' }}"><a target="{{ item.url ? '_blank' : '' }}" href="{{ item.url ? item.url : layui.view.url(item.name) }}">{{ item.title }}</a></dd>
              {{# }); }}
            {{# } }}
          {{# }); }}
        </dl>
      </li>
    </ul>
  </div>
</nav>